.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 22px;
}

.popup-form__submit {
  position: relative;
  margin: 30px 0 26px;
}

.popup-form__submit-btn {
  width: 100%;
  min-height: 64px;
  background: #2f71e5;
  color: #fff;
  border-radius: 100px;
  border: 0;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  outline: none;
}

.popup-form__submit-btn:disabled {
  background: #e6e8eb;
  color: #b6bcbf;
}

.popup-form__submit-btn:hover {
}

.popup-form__alternative {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-form__alt-text {
  display: block;
  font-family: "Inter", 'Arial', sans-serif;;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 0 5px 0 0;
}

.popup-form__alt-action {
  font-family: "Inter", 'Arial', sans-serif;;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2f71e5;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.popup-form__alt-action_big {
  font-size: 18px;
  line-height: 22px;
}

.popup-form__label {
  font-family: "Inter", 'Arial', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
  margin: 30px 0 9px;
  display: block;
}

.popup-form__label:first-of-type {
  margin-top: 0;
}

.popup-form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 0 10px;
  margin: 0;
  outline: none;
}

.popup-form__error {
  font-family: "Inter", "Arial", sans-serif;;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0;
  /* opacity: 0; */
  transition: opacity 0.2s linear;
}

.popup-form__error_server {
  text-align: center;
  display: block;
  margin: 0 0 10px;
  width: 100%;
}

.form__item-error_active {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .popup__container {
  }
}
