.footer {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

.footer__nav {
  display: flex;
}

.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__link-item {
  margin-right: 40px;
  list-style: none;
}

.footer__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #1a1b22;
}

.footer__social-item {
  margin-right: 24px;
  list-style: none;
}

.footer__social-item:last-of-type {
  margin-right: 0;
}

.footer__social-icon {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 1439px) {
  .footer {
    min-height: 64px;
    align-items: center;
  }

  .footer__link-item {
    margin-right: 20px;
  }

  .footer__link-item:last-of-type {
    margin-right: 24px;
  }

  .footer__social-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: auto;
    flex-direction: column-reverse;
    padding: 20px 0 22px;
  }

  .footer__nav {
    margin-bottom: 38px;
    width: 100%;
    justify-content: space-between;
  }

  .footer__list_content_links {
    flex-direction: column;
  }

  .footer__link-item {
    margin: 0 0 20px;
  }

  .footer__link-item:last-of-type {
    margin-bottom: 0;
  }
}
